* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body, html {
  padding-top: 46px;
  font-family: "Poppins";
  overflow-x: hidden;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

footer {
  background-color: #1C1E53;
  padding: 100px 0;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}
.footer_left {
  max-width: 510px;
  width: 100%;
}
.footer_left p {
  font-size: 16px;
  line-height: 28px;
  max-width: 400px;
  color: #ffffff;
  opacity: 0.8;
  margin: 24px 0 80px 0;
}
.footer_card {
  width: 100%;
  background-color: #FCD980;
  padding: 18px 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_card h4 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
}
.footer_card h4 span {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.8;
  font-weight: 200;
}
.footer_right {
  max-width: 510px;
  width: 100%;
}
.footer_right h2 {
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}
.footer_right p {
  font-size: 16px;
  max-width: 400px;
  color: #ffffff;
  opacity: 0.8;
  font-weight: 4200;
  margin: 14px 0 28px 0;
}
.footer_icons {
  display: flex;
  align-items: center;
  gap: 26px;
}
.footer_icon {
  width: 22px;
  height: 22px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #1C1E53;
  height: 92px;
  display: flex;
  align-items: center;
  z-index: 99;
  box-shadow: 0 0 10px 5px grey;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_items {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar_link {
  color: #BBBBCB;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.navbar_link:hover {
  color: #ffffff;
}
.navbar_btn {
  padding: 14px 48px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 40px;
  background-color: transparent;
  transition: 0.3s;
}
.navbar_btn a {
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}
.navbar_btn:hover {
  background-color: rgba(244, 246, 252, 0.2);
  border-color: transparent;
}
.navbar .burger_menu {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.navbar .burger_menu span {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.ttf") format("woff2");
}
main .section3 {
  padding-top: 128px;
  background-color: #F4F6FC;
  padding-bottom: 128px;
}
main .section3 .theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .section3 .theme h1 {
  width: 630px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
  color: #282938;
}
main .section3 .cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
main .section3 .cards .cards_group1, main .section3 .cards .cards_group2 {
  display: flex;
  gap: 20px;
}
main .section3 .cards .cards_group1 .card, main .section3 .cards .cards_group2 .card {
  transition: all 0.4s linear;
  width: 405px;
  padding: 0 32px 48px 48px;
  height: 326px;
  background-color: #FFFFFF;
}
main .section3 .cards .cards_group1 .card h1, main .section3 .cards .cards_group2 .card h1 {
  padding-top: 108px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #282938;
}
main .section3 .cards .cards_group1 .card p, main .section3 .cards .cards_group2 .card p {
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
main .section3 .cards .cards_group1 .card:hover, main .section3 .cards .cards_group2 .card:hover {
  box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.5);
}
main .section4 {
  padding-top: 130px;
  padding-bottom: 128px;
}
main .section4 .cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
main .section4 .cards .card1 {
  justify-content: center;
  width: 327px;
}
main .section4 .cards .card1 p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #282938;
}
main .section4 .cards .card1 h1 {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
  color: #282938;
}
main .section4 .cards .card2 {
  width: 843px;
}
main .section4 .cards .card2 .izoh p {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #282938;
}
main .section4 .cards .card2 .contact {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
main .section4 .cards .card2 .contact .group1 {
  gap: 15px;
  display: flex;
}

@media (max-width: 1080px) {
  .section3 .cards {
    display: flex;
  }
  .section3 .cards .cards_group1, .section3 .cards .cards_group2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section4 .cards {
    flex-direction: row !important;
    display: flex;
    justify-content: center !important;
  }
  .section4 .cards .card2 {
    width: 500px !important;
    max-width: 100%;
    padding-top: 50px;
  }
  .section4 .cards .card2 .izoh p {
    width: 500px;
    font-size: 24px;
  }
  .section4 .cards .card2 .contact {
    width: 500px;
  }
}
@media (max-width: 800px) {
  .section3 .theme h1 {
    width: 380px !important;
    font-size: 32px !important;
  }
  .section3 .cards {
    display: flex;
  }
  .section3 .cards .cards_group1, .section3 .cards .cards_group2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section4 .cards {
    flex-direction: row !important;
    display: flex;
    justify-content: center !important;
  }
  .section4 .cards .card2 {
    width: 500px !important;
    max-width: 100%;
    padding-top: 50px;
  }
  .section4 .cards .card2 .izoh p {
    width: 500px;
    font-size: 24px;
  }
  .section4 .cards .card2 .contact {
    width: 500px;
  }
}
.work .main-start p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #282938;
  padding-top: 96px;
}
.work .main-start h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
  color: #282938;
  padding-top: 4px;
  padding-bottom: 24px;
}
.work .main-start h2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #1c1e53;
  opacity: 0, 7;
}
.work .main-start .social-logo {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 193px;
}
.work .main-start .social-logo img {
  padding: 0 18px;
}
.work .cards-text ul {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-bottom: 48px;
}
.work .cards-text ul li a {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #282938;
  transition: all 0.4s;
}
.work .cards-text ul li a:hover {
  color: #2405f2;
}
.work .cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work .cards .card img {
  width: 623px;
  height: 380px;
}
.work .cards .card h1 {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
  color: #282938;
  padding-top: 24px;
  padding-bottom: 12px;
}
.work .cards .card p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: justified;
  color: #282938;
  width: 623px;
  padding-bottom: 24px;
}
.work .cards .card .arrow {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 64px;
}
.work .cards .card .arrow a {
  color: #282938;
}
.work .cards .card .arrow img {
  width: 24px;
  height: 24px;
}
.work .main-end h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
  margin: 0 auto;
  color: #282938;
  width: 730px;
  padding-top: 64px;
  padding-bottom: 20px;
}
.work .main-end p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #282938;
  width: 562px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.work .main-end a {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin: 0 auto;
  color: #1b1c2b;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcd980;
  border-radius: 41px;
  width: 230px;
  height: 64px;
  margin-bottom: 128px;
}

@media (max-width: 1200px) {
  .cards .card {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 726px) {
  .main-end h1 {
    width: 650px !important;
    margin: 0 auto;
  }
}
@media (max-width: 643px) {
  .card {
    width: 500px;
  }
  .card img {
    width: 500px !important;
    height: 300px !important;
  }
  .card p {
    width: 500px !important;
  }
  .arrow img {
    width: 24px !important;
    height: 24px !important;
  }
  .main-end h1 {
    width: 500px !important;
    height: 278px !important;
    margin: 0 auto !important;
  }
}/*# sourceMappingURL=style.css.map */