@use "../abstracts/" as *;
@use "../fonts" as *;

main {
  .part-1 {
    background-color: #1c1e53;
    padding: 126px 0 128px;
    .hero-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text-content {
        h2 {
          font-size: 54px;
          font-weight: 600;
          color: #fff;
          margin-bottom: 24px;
        }
        p {
          max-width: 562px;
          font-size: 16px;
          font-weight: 500;
          color: #fff;
          opacity: 70%;
          margin-bottom: 48px;
        }
        .hero-buttons {
          display: flex;
          align-items: center;
          gap: 40px;
          .but1 {
            padding: 16px 56px;
            font-size: 16px;
            font-weight: 600;
            color: #1b1c2b;
            background-color: #fcd980;
            border-radius: 41px;
            border: 0;
          }
          .text {
            display: flex;
            gap: 16px;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
          }
        }
      }
    }
  }
  .part-2 {
    padding: 57px 0 128px;
    .text-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 68px;
      h2 {
        font-size: 48px;
        font-weight: 600;
        color: #282938;
      }
      a {
        display: flex;
        gap: 16px;
        font-size: 16px;
        font-weight: 500;
        color: #282938;
      }
    }
    .img-content {
      display: flex;
      justify-content: space-between;
      .large {
        .largediv {
          display: none;
          width: 396px;
          height: 600px;
          background: linear-gradient(
            329.39deg,
            #1c1e53 -10.96%,
            rgba(28, 30, 83, 0.42) 103.96%
          );
          margin-top: -607px;
          margin-left: -396px;
          position: absolute;
          transition: 0.5s ease-in;
        }
        &:hover {
          .largediv {
            display: block;
            margin-left: 0;
          }
        }
      }
      .little {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .section3 {
    padding-top: 128px;
    background-color: #f4f6fc;
    padding-bottom: 128px;
    .theme {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        width: 630px;
        //styleName: Heading 2;
        font-family: Poppins;
        font-size: 48px;
        font-weight: 600;
        line-height: 64px;
        text-align: center;
        color: #282938;
      }
    }

    .cards {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .cards_group1,
      .cards_group2 {
        display: flex;
        gap: 20px;
        .card {
          transition: all 0.4s linear;
          width: 405px;
          padding: 0 32px 48px 48px;
          height: 326px;
          background-color: #ffffff;
          h1 {
            padding-top: 108px;
            //styleName: Heading 6;
            font-family: Poppins;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            text-align: left;
            color: #282938;
          }
          p {
            color: #282938;
            //styleName: Body 1;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
          }
          &:hover {
            box-shadow: 4px 4px 6px 4px rgb(0, 0, 0, 0.5);
          }
        }
      }
    }
  }

  .section4 {
    padding-top: 130px;
    padding-bottom: 128px;
    .cards {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;

      .card1 {
        justify-content: center;
        width: 327px;
        p {
          //styleName: Body 1;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          text-align: left;
          color: #282938;
        }
        h1 {
          //styleName: Heading 3;
          font-family: Poppins;
          font-size: 38px;
          font-weight: 600;
          line-height: 56px;
          text-align: left;
          color: #282938;
        }
      }
      .card2 {
        width: 843px;

        .izoh {
          p {
            //styleName: Heading 5;
            font-family: Poppins;
            font-size: 32px;
            font-weight: 500;
            line-height: 48px;
            text-align: left;
            color: #282938;
          }
        }
        .contact {
          padding-top: 40px;
          display: flex;
          justify-content: space-between;
          .group1 {
            gap: 15px;
            display: flex;
          }
        }
      }
    }
  }
}

// media/////////////////////////

@media (max-width: 1080px) {
  .section3 {
    .cards {
      display: flex;

      .cards_group1,
      .cards_group2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  .section4 {
    .cards {
      flex-direction: row !important;
      display: flex;
      justify-content: center !important;
      .card2 {
        width: 500px !important;
        max-width: 100%;
        padding-top: 50px;
        .izoh {
          p {
            width: 500px;
            font-size: 24px;
          }
        }
        .contact {
          width: 500px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .section3 {
    .theme {
      h1 {
        width: 380px !important;
        font-size: 32px !important;
      }
    }
    .cards {
      display: flex;

      .cards_group1,
      .cards_group2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  .section4 {
    .cards {
      flex-direction: row !important;
      display: flex;
      justify-content: center !important;
      .card2 {
        width: 500px !important;
        max-width: 100%;
        padding-top: 50px;
        .izoh {
          p {
            width: 500px;
            font-size: 24px;
          }
        }
        .contact {
          width: 500px;
        }
      }
    }
  }
}
